<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.akapps.puzka">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NewApp"
        tools:ignore="AllowBackup">
        <activity android:name=".PdfAllVal" />
        <activity android:name=".AuthenticatorActivity" />
        <activity android:name=".GoogleSignIn" />
        <activity android:name=".StartPage" />
        <activity android:name=".NotesActivity" />
        <activity android:name=".LinksActivity" />
        <activity android:name=".WaletCenterpage" />
        <activity android:name=".RoutineCerterpage" />
        <activity android:name=".DrawingCenterpage" />
        <activity
            android:name=".DrawingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" />
        <activity android:name=".MyNotebook" />
        <activity android:name=".NormalNotepad" />
        <activity android:name=".DiaryActivity" />
        <activity android:name=".CreateNotepad" />
        <activity android:name=".NotepadPage" />
        <activity android:name=".ImageProcessing" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".ImageToPdf" />
        <activity android:name=".Centerpage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".NotificationService"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>